# Environment variables
.env
.env.*

# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# VS Code
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db

# Build folders
frontend/build/

# Logs
*.log